*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
:root{
    --animate-duration: 2s;
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    /* align-items: center; */

}

.header .logo img{
    width: 100%;
}

.header .navbar a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-weight: 600;
    transition: all 0.5s ;

}
.header .navbar a span{
    display: inline-block;
}


.header .navbar a:hover span{
    animation: upToDown 0.3s;
}
.header .navbar a:hover{
    color: #f55f8d;
}
.header .navbar a i{
    font-size: 12px;
    margin-left: 5px;
    margin-top: -3px;
    vertical-align: middle;
}

.btn{
    position: relative;
    border-radius: 30px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 20px 30px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    transition: all 0.5s;
    background-size: 200%;
    cursor: pointer;
}

.btn:hover{

    background-position: right center;
}
/* .btn:hover{
    background-size: 200%;
    transition: all 1s linear;
    background-image: linear-gradient(to left,#f55f8d 0,#f55f8d 51%,#f8ae56 100%);

} */

.carousel{
    background-image: url(../img/pic2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    padding-top: 180px;
    overflow: hidden;

}

.carousel .container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.carousel .container .carousel_left{
    width: 50%;
}

.carousel .container .banner{
    width: 570px;
    margin-left: 50px;
}

.carousel .carousel_left .title span{

    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.carousel .carousel_left .title h1{
    font-size: 70px;
    margin: 20px 0;
}

.carousel .carousel_left .content{
    color: #636363;
}


.carousel .carousel_left .content p{
    font-size: 18px;
}


.carousel .carousel_left .content ul{
    list-style: none;
    font-size: 20px;
}
.carousel .carousel_left .content ul li{
    margin-top: 20px;
}
.carousel .carousel_left .content ul li i{
    width: 40px;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    color: #ffffff;
    border-radius: 50%;
    margin-right: 15px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}

.carousel .carousel_left .content .btn{
    margin-top: 30px;
}

.carousel .carousel_right{
    width: 40%;
}
.carousel .carousel_right img{
    display: block;
}

.services{
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: top;
}

.services .container{
    padding: 150px 0;
}
.services .container .title{
    text-align: center;
    margin: 20px 0;
}

.services .container .title h1{
    font-size: 65px;
    margin-top: 20px;
}
.services .container .title span{
    font-size: 20px;
    font-weight: 600;
    color: #f55f8d;
}

.services .main .content .row{
    display: flex;
    flex-direction: row;

}

.services .main .content .row .col{
    width: calc(100% / 3);
    padding: 10px;
}

.services .main .content .row .col .item img{
    width: 100%;

}

.services .main .content .row .col .item {
    background-color: #ffffff;
    text-align: center;
    padding:  30px 45px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    transform: translateY(0);
    transition: all 0.5s linear;


}
.services .main .content .row .col .item:hover{
    transform: translateY(-20px);
}

.services .main .content .row .col .item p{
    color: #636363;
    margin-top: 10px;

}

.services .main .content .row .col .item h1{
    margin: 15px 0px;
}

.about-us{
    background-image: url(../img/bg15.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.about-us .about-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.about-us .container{
    padding-bottom: 100px;
}

.about-us .about-content .about-left img{
    width: 100%;
    border-radius: 0 120px 120px 0;
}
.about-us .about-content .about-left{
    position: absolute;
    left: -17%;
    width: 60%;
}

.about-us .about-content .about-right{
    width: 50%;
}

.about-us .about-content .about-right title{

}

.about-us .about-content .about-right .title span{
    font-size: 20px;
    font-weight: 600;
    color: #f55f8d;
}

.about-us .about-content .about-right .title h1{
    font-size: 70px;
    margin-top: 20px;
}

.about-us .about-content .about-right .main p{
    color: #636363;
    margin: 30px 0;
    line-height: 25px;
}

.about-us .about-content .about-right .main ul li{
    list-style: none;
    color: #636363;
    margin: 10px 0;
}

.about-us .about-content .about-right .main i{
    width: 30px;
    height: 30px;
    color: #f55f8d;
    background-color: transparent;
    padding: 5px;
    line-height: 15px;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #f55f8d;
}

.about-us .about-content .about-right .main .btn{
    margin-top: 20px;
}

.number {
    background-image: url(../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
}


.number .container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}




.number .container .row .col .item i{

    height: 80px;
    width: 80px;
    font-size: 45px;
    line-height: 80px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    background-size: 200%;
    margin-bottom: 10px;

}

.number .container .row .col .item p span{
    font-size: 60px;
    color: #f55f8d;
    font-weight: 600;
}

.number .container .row .col .item p{
    font-size: 20px;
}

.features{

    background-image: url(../img/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 100px 0;
}

.features .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.features .container .features-left,
.features .container .features-right{
    width: 50%;
}

.features .container .features-left .title span{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
    transition: all 1s;
}

.features .container .features-left .title h1{
    font-size: 70px;
    margin: 20px 0;
}

.features .container .features-right .features-banner{
    margin-right: -105px;
}
.features .container .features-right img{
    max-width: 100%;
    animation: move2 5s infinite;
}

.features .features-left .features-item{
    position: relative;
    /* z-index: 1; */

}
.features .features-left .features-item div,
.features .features-left .features-item i
{
    z-index: 1;
    transition: all 1s;
}
.features .features-left .features-bg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #ffffff;
    margin: 0 50px 30px 0;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    border-radius: 10px;
    position: relative;

}
.features .features-left .features-bg::after{
    content: "";
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s;

}

.features .features-left .features-bg:hover::after {
    opacity: 1;
}

.features .features-left .features-bg:hover h2,
.features .features-left .features-bg:hover i,
.features .features-left .features-bg:hover span{
    color: #ffffff;

}

.features .features-left .features-item:nth-of-type(2){
    margin: 0 0 30px 50px ;
}

.features .features-left .features-item i{

    font-size: 80px;
    color: #f55f8d;


}

.features .features-left .features-item div{
    /* line-height: 30px; */
    margin-left: 20px;
    transition: all 1s;

}

.features .features-left .features-item div span{
    color: #636363;
    transition: all 1s;

}

.features .features-left .features-item h2{
    font-weight: 800;
    color: #262626;
    font-size: 1.5rem;
    transition: all 1s;
}

.portfolio .container{
    padding-bottom: 115px ;
}
.portfolio .container .title{
    text-align: center;
}
.portfolio .container .title span{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
}

.portfolio .container .title h1{
    font-size: 70px;
    margin: 20px 0;
}

.portfolio .main .portfolio-content{
    display: grid;
    grid-template-columns: repeat(2,1fr) 1.5fr;
    gap: 35px;

}
.portfolio .main .portfolio-content .portfolio-item {
    border-radius: 10px;
    display: block;
    overflow: hidden;
    position: relative;

}

.portfolio .main .portfolio-content .portfolio-item::before{
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.3) 100%
      );
      transform: skewX(-25deg);
      transition: all 0.75s;

}
.portfolio .main .portfolio-content .portfolio-item:hover::before{
    left: 100%;
}
.portfolio .main .portfolio-content .portfolio-item img{
    width: 100%;
    height: 100%;
}


.portfolio .portfolio-content .item1{
    grid-column: 1/span 2;

}

.portfolio .portfolio-content .item5{
    grid-column: 1/span 2;
}

.portfolio .portfolio-content .item6{
    grid-column: 3/ 4;
    grid-row: 2 / 4;
}

.portfolio .portfolio-item .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: all 0.75s;

}

.portfolio .portfolio-item .overlay .icon{
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    position: absolute;
    transform: translate(20px ,-20px);
    border-radius: 10px;
    transition: all 0.75s;
}

.portfolio .portfolio-item .overlay .text{
    position: absolute;
    bottom: 30px;
    left: 30px;
    transform: translateY(70px);
    color: #ffffff;
    transition: all 0.75s;
}

.portfolio .portfolio-item .overlay:hover{
    opacity: 1;
}
.portfolio .portfolio-item .overlay:hover .icon{
    transform: translate(0 ,0);
    transition: all 0.75s;

}
.portfolio .portfolio-item .overlay:hover .text{
    transform: translateY(0);
    transition: all 0.75s;

}


.plan{
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.plan .title{
    text-align: center;
    margin-bottom: 20px;
}
.plan .title h1{
    font-size: 70px;
    margin: 20px 0;
}

.plan .title span{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
}

.plan .main .plan-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

}

.plan .main .plan-content .plan-item{
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    background-color: #ffffff;
    padding: 35px 60px;
    border-radius: 8px;
    border: 3px solid transparent;
    transition: all .5s;
    border-image: 100 round;


}
.plan .main .plan-content .plan-item:hover{
    border-image: url(../img/br.png) 1 round;
}

.plan .main .plan-content .plan-item h3{
    font-weight: 700;
    font-size: 2rem;
    color: #262626;
}

.plan .plan-item span{
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}

.plan .plan-item ul li{
    list-style: none;
    padding: 5px;
}
.plan .plan-item ul{
    padding: 15px 0px;
    border-top: 1px solid #e1e1f0;
    text-align: left;
}
.plan .plan-item li,.plan .plan-item p{
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}

.plan .plan-item li i{
    font-size: 12px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    border-radius: 100%;
    margin-right: 15px;
}
.plan .plan-item li{
    font-weight: 400;
}

.plan .main .plan-content img{
    width: 125px;
}


.testimonial{
    background-image: url(../img/bg17.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.testimonial .container{
    padding: 100px;
    text-align: center;
}
.testimonial .title h1{
    font-size: 70px;
    margin: 20px 0;
}

.testimonial .title span{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
}


.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 30px 0;
}

.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}

.testimonial-pic .shape-bx{
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;

  }
  .testimonial-pic .shape-bx::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../img/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
  }


.testimonial-pic::after{
      height: 10px;
      width: 10px;
      bottom: 0;
}

.testimonial-pic::before{
    height: 15px;
    width: 15px;
    bottom: 30px;
}
.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
  }

.testimonial-pic::after,
.testimonial-pic::before{
      content: "";
      background-color: #f55f8d;
      border-radius: 50px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;

  }
.swiper-slide-thumb-active
.testimonial-pic .shape-bx {
    opacity: 1;
}
.swiper-slide-thumb-active .testimonial-pic::after,
.swiper-slide-thumb-active .testimonial-pic::before {
    opacity: 1;
}
  .testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
    overflow: hidden;
  }
  .testimonial-comment {
    min-height: 300px;
    width: 100%;
    overflow: hidden;
  }
  .testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
  }

  .testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
  }
  .testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .testimonial-name{
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
  }

  .testimonial-text span{
      display: block;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    line-height: 30px;
    padding: 0 15px 15px;
    color: #636363;
  }
  .testimonial-position{
    font-size: 18px;
    color: #f55f8d;
    font-style: italic;
    margin-bottom: 20px;
    padding: 0 15px 15px;

  }



  .testimonial-text i{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}

.swiper-pagination-bullets.swiper-pagination-horizontal, .testimonial .swiper-horizontal>.swiper-pagination-bullets{
    bottom: auto;
}

.swiper-pagination span{
    background: #f55f8d;
}

.blog{
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
}

.blog .title h1{
    font-size: 70px;
    margin: 20px 0;
}
.blog .title span{
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
}
.blog .owl-carousel .blog-item{
    text-align: left;
    background: rgba(245,95,141,.1);
    border-radius: 8px;
    overflow: hidden;
}
.blog .owl-carousel .blog-item .blog-header{
    position: relative;
}
.blog .owl-carousel .blog-item .blog-header img{
    display: block;
    width: 100%;
}
.blog .owl-carousel .blog-item .blog-header p{
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog .owl-carousel .blog-item .blog-body{
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog .owl-carousel .blog-item .blog-body h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.blog .owl-carousel .blog-item .blog-body p{
    color: #636363;
}


.blog .owl-carousel .blog-item .blog-footer{
    display: flex;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0,0,0,.05);

}

.blog .owl-carousel .blog-item .blog-footer p:first-of-type{
    margin-right: 20px;
}

.blog .owl-carousel .blog-item .blog-footer i{
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}
.blog .owl-carousel .blog-item .blog-footer {
    color: #636363;
}

.blog .owl-carousel .blog-item .blog-footer p:first-of-type span{
    color: #f55f8d;
}

footer{
    background-image: url(../img/bg4.png);
    display: block;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
    position: relative;
}
footer::before{
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.footer-top{
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    display: flex;
}
.footer-text,.footer-form{
    width: 50%;
}
.footer-top .footer-text h2{
        font-size: 28px;
    color: #262626;
}

.footer-top .footer-form input{
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    border: 1px solid #fff;
    outline: 0;
    transition: all .5s;
}


.footer-top .footer-form button{
    padding: 20px 35px;
    font-size: 20px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 0.5rem 0.5rem 0;
    color: #fff;
    cursor: pointer;
}
.footer-top .footer-form button:hover{
    background-position: right center;
}

.footer-top .footer-form button:hover i{
    animation: toLeftFromRight .5s forwards;
    display: inline-block;
}


.footer-top .footer-form input:focus,
.footer-top .footer-form input:hover{
    border-color: #f55f8d;
}

.footer-top .footer-form form{
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);

}
.footer-bottom .footer-item{
    width: 25%;
}
.footer-bottom .footer-item li{
    padding: 0.5rem 0;
}
.footer-bottom{
    display: flex;
    padding: 70px 0;
    position: relative;
}

.footer-bottom .footer-contact li{
    display: flex;
    padding: 8px;
}

.footer-bottom .footer-contact li i{
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    display: block;
    border-radius: 50px;
}
.footer-bottom .footer-item ul{
    list-style: none;

}
.footer-bottom .footer-item i{
    margin-right: 15px;
}

.footer-bottom .footer-item ul li a{
    text-decoration: none;
    color: #636363;
    font-size: 16px;
    transition: all .5s;
    cursor: pointer;
}
.footer-bottom .footer-item ul li a:hover{
    color: #fff;
}
.footer-bottom .footer-item h3{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

.footer-bottom .footer-item h3::after,
.footer-bottom .footer-item h3::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}
.footer-bottom .footer-item h3::after{
    width: 45px;
    left: 20px;
}
.footer-bottom .footer-item h3::before{

    width: 15px;


}

.footer-copyright{
    background-color: #1f343b;
    padding: 10px 0;
}
.footer-copyright .container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.footer-copyright .footer-right a{
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(255,255,255,.1);
    transition: all .5s;
    cursor: pointer;
}
.footer-copyright .footer-right a:hover{
    background-color: #f55f8d;
}

.cd-top--is-visible {
    visibility: visible !important;
    opacity: 1 !important;
}

.cd-top--fade-out {
    opacity: .5;
}

.backtoTop{
    width: 50px;
    height: 50px;
    background: #f55f8d;
    border-radius: 8px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    transition: all .2s;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    visibility: hidden;
    opacity: 0;
}














@keyframes toLeftFromRight {
    49%{
        transform: translateX(100%);

    }

    50%{
        opacity: 0;
        transform: translateX(-100%);
    }
    51%{
        opacity: 1;
    }
}

@keyframes move2{
    0% {
        transform: rotate(1deg) translate(2px,2px);
    }
    50% {
        transform: rotate(-1deg) translate(-2px,-2px);
    }
    100% {
        transform: rotate(1deg) translate(2px,2px);
    }
}


@keyframes upToDown{
    49% {
        transform: translateY(100%);
      }
      50% {
        opacity: 0;
        transform: translateY(-100%);
      }
      51% {
        opacity: 1;
      }
}










